## Analysis of rose data from Garden.org

In [1]:
# importing lib

import numpy as np 
import pandas as pd 
import json
import os
import fnmatch
import re
import csv

In [10]:
# stopping Jupyter outputting truncated results
pd.options.display.max_rows = 1000

In [46]:
# importing data
df = pd.read_csv('rose_scrape_garden_org_final.csv')

In [3]:
# close look at top 5 rowsof data
df.head(5)

,Name,URL,Alternative_Cultivar_Names,Awards,Awards_from_Data_Specific_to_Roses,Count_of_Alternative_Names,Bloom size,Bloom shape,Petal count,Rose bloom color,...,Leaves,Flowers,Flower Color,Flower Time,Uses,Wildlife Attractant,Miscellaneous,Parentage,Containers,Child plants
0,Anna-Zinkeisen,https://garden.org/plants/view/1736/Rose-Rosa-...,"Anna Zinkeisen, HARquhling",NaN,NaN,2.0,Medium: 2-3,NaN,full: 26-40 petals,Light yellow,...,Deciduous,Showy\nFragrant,Yellow,Late spring or early summer\nLate summer or ea...,Cut Flower,Bees,With thorns/spines/prickles/teeth,(((Chinatown x Golden Masterpiece) x (Super St...,NaN,NaN
1,Excellence,https://garden.org/plants/view/2740/Rose-Rosa-...,NaN,NaN,NaN,NaN,Large: 4-5,NaN,full: 26-40 petals,Dark red,...,Deciduous,Showy\nFragrant,Red,Spring\nSummer\nFall,Cut Flower,Bees,With thorns/spines/prickles/teeth,NaN,NaN,NaN
2,Trump-Card,https://garden.org/plants/view/4269/Rose-Rosa-...,NaN,NaN,NaN,NaN,Large: 4-5,High-centered,full: 26-40 petals,Pink blend,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Daniela-Kordana,https://garden.org/plants/view/695573/Rose-Ros...,"Daniela Kordana, KORpolare",NaN,NaN,2.0,Medium: 2-3,Other: Cupped to flat,very full: 40+ petals,Dark red,...,Deciduous,Showy,Red,Spring\nSummer\nFall,Cut Flower,Bees,With thorns/spines/prickles/teeth,Vanilla Kordana x Scarlet Parade,Suitable in 3 gallon or larger\nNeeds repottin...,NaN
4,Raf-Braeckman,https://garden.org/plants/view/703930/Rose-Ros...,NaN,NaN,NaN,NaN,Medium: 2-3,NaN,full: 26-40 petals,Orange and orange blend,...,Deciduous,Showy,Orange,Spring\nSummer\nFall,Cut Flower,Bees,With thorns/spines/prickles/teeth,Unknown,NaN,NaN

In [4]:
# overview of dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7072 entries, 0 to 7071
Data columns (total 34 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Name                                7069 non-null   object
 1   URL                                 7072 non-null   object
 2   Alternative_Cultivar_Names          4488 non-null   object
 3   Awards                              47 non-null     object
 4   Awards_from_Data_Specific_to_Roses  337 non-null    object
 5   Count_of_Alternative_Names          4484 non-null   float64
 6   Bloom size                          6538 non-null   object
 7   Bloom shape                         3858 non-null   object
 8   Petal count                         6531 non-null   object
 9   Rose bloom color                    6529 non-null   object
 10  Extra Bloom Info                    3352 non-null   object
 11  Rebloom                             6517 non-null   object
 12  Class                               6538 non-null   object
 13  Extra Color Info                    3275 non-null   object
 14  Growth Habit                        5364 non-null   object
 15  Fragrance                           6143 non-null   object
 16  Hybridizer & year                   6480 non-null   object
 17  Optimal growing zones               3559 non-null   object
 18  Plant Habit                         6879 non-null   object
 19  Life cycle                          6879 non-null   object
 20  Sun Requirements                    6879 non-null   object
 21  Soil pH Preferences                 6879 non-null   object
 22  Plant Height                        5199 non-null   object
 23  Plant Spread                        5106 non-null   object
 24  Leaves                              6879 non-null   object
 25  Flowers                             6879 non-null   object
 26  Flower Color                        6392 non-null   object
 27  Flower Time                         6355 non-null   object
 28  Uses                                6878 non-null   object
 29  Wildlife Attractant                 6878 non-null   object
 30  Miscellaneous                       6480 non-null   object
 31  Parentage                           2905 non-null   object
 32  Containers                          829 non-null    object
 33  Child plants                        1088 non-null   object
dtypes: float64(1), object(33)
memory usage: 1.8+ MB

### Value counts on each column in the dataset

In [27]:
df['Hybridizer & year'].value_counts()

Unknown                           114
Dr. Griffith J. Buck, 1984         29
Dr. Keith W. Zary, 1998            26
Harkness, 1998                     17
George Michael Shoup, 2006         15
                                 ...
Delbard, 2001                       1
Soupert & Notting, 1890             1
Delbard-Chabert, 1983               1
Hans Jurgen Evers, before 1993      1
L. Wilhelm Hinner, 1901             1
Name: Hybridizer & year, Length: 4009, dtype: int64

In [6]:
df['Rose bloom color'].value_counts()

Pink blend                            882
White and white blend                 703
Medium pink                           545
Light pink                            450
Orange and orange blend               426
Medium red                            419
Mauve and mauve blend                 418
Yellow blend                          394
Apricot and apricot blend             388
Red blend                             342
Deep pink                             330
Dark red                              309
Orange pink                           253
Medium yellow                         225
Orange red                            142
Light yellow                          133
Deep yellow                           109
Russet                                 59
White and white blend\nMedium pink      1
White and white blend\nLight pink       1
Name: Rose bloom color, dtype: int64

In [11]:
df['Flower Color'].value_counts()

Pink                                                 1897
Red                                                   770
Yellow                                                588
White                                                 482
Orange                                                383
Other: Apricot blend                                  365
Mauve                                                 223
Bi-Color: Pink and white                              183
Other: Orange-pink                                    171
Bi-Color: White and pink                              157
Bi-Color: Red and white                               153
Bi-Color: Yellow and pink                             105
Bi-Color: Orange and yellow                           104
Purple                                                 97
Bi-Color: Red and yellow                               73
Bi-Color: Yellow and red                               55
Bi-Color: Pink and yellow                              54
Lavender                                               51
Russet                                                 48
Bi-Color: Yellow and orange                            45
Bi-Color: White and red                                19
Bi-Color: White and yellow                             15
Other: Coral                                           13
Bi-Color: Pink and cream                               13
Bi-Color: Mauve and white                              11
Other: Salmon                                           9
Bi-Color: Red and purple                                9
Bi-Color: Orange and white                              9
Other: Apricot                                          8
Bi-Color: Orange and pink                               8
Other: Salmon-pink                                      7
Multi-Color: Orange, pink, and yellow                   7
Bi-Color: Red and pink                                  7
Bi-Color: Pink and apricot                              6
Bi-Color: Pink and red                                  6
Multi-Color: Red, white, and yellow                     5
Multi-Color: Orange, yellow, and pink                   5
Bi-Color: yellow and pink                               5
Bi-Color: Purple and white                              5
Multi-Color: Pink, yellow, and orange                   4
Multi-Color: Yellow, pink, and orange                   4
Bi-Color: Cream and red                                 4
Bi-Color: Orange and red                                4
Bi-Color: White and cherry-red                          4
Multi-Color: White, pink, and yellow                    4
Multi-Color: Orange, apricot, and pink                  4
Bi-Color: Pink and mauve                                4
Other: Coral-pink                                       4
Multi-Color: Yellow, orange, and pink                   3
Bi-Color: White and apricot                             3
Bi-Color: Cream and pink                                3
Bi-Color: Coral-orange and white                        3
Multi-Color: Orange, yellow, and red                    3
Bi-Color: Mauve and cream                               3
Bi-Color: Yellow and white                              3
Bi-Color: Red and orange                                3
Multi-Color: Yellow, pink, and red                      3
Pink\nOther: Salmon-pink                                3
Multi-Color: White, pink, and red                       2
Other: Coral-orange                                     2
Bi-Color: Mauve and pink                                2
Pink\nWhite                                             2
Bi-Color: Lavender and cream                            2
Bi-Color: White and mauve                               2
Bi-Color: Pink and purple                               2
Bi-Color: Yellow and coral-orange                       2
Bi-Color: Yellow and deep pink                          2
Bi-Color: Pink and gold                                 2
Bi-Color: Cream and coral-orange                        2
Multi-Color: White, yellow, and pink                    2
Bi-Color: Mauve and tan                                 2
Bi-Color: Coral-orange and yellow                       2
Green\nOther: Green                                     2
Bi-Color: Mauve and gray                                2
Multi-Color: Red, cream, and yellow                     2
Bi-Color: pink and yellow                               2
Multi-Color: Pink, yellow, and white                    2
Green\nWhite\nOther: Greenish-white                     2
Bi-Color: Yellow and cream                              2
Multi-Color: Yellow, red, and orange                    2
Bi-Color: Pink and lavender                             2
Bi-Color: red and yellow                                2
Multi-Color: Pink, red, and white                       2
Multi-Color: Red, yellow, and white                     2
Other: Gray-lavender                                    1
Orange\nOther: Coral-orange                             1
Bi-Color: Red and yellow\nMulti-Color                   1
Multi-Color: Mauve, pink, and silver-white              1
Multi-Color: Orange, yellow, apricot, and red           1
Bi-Color: red and white                                 1
Bi-Color: Orange, yellow, pink                          1
Bi-Color: Magenta and lavender                          1
Bi-Color: yellow and white                              1
Bi-Color: Pink and orange                               1
Bi-Color: Cream and coral                               1
Bi-Color: white and pale pink                           1
Multi-Color: Yellow, pink, and tan                      1
Bi-Color: Cherry-red and yellow                         1
Bi-Color: Salmon and yellow                             1
Bi-Color: Mauve and russet-tan                          1
Multi-Color: Orange, yellow, and apricot                1
Multi-Color: Coral-orange, yellow, and pink             1
Bi-Color: Cherry red and silver                         1
Multi-Color: Yellow, peach, pink, coral                 1
Green\nOther: Greenish-white                            1
Multi-Color: Orange, white, and purple                  1
Multi-Color: White, green, and pink                     1
Bi-Color: White and coral                               1
Multi-Color: Cream, yellow, and pink                    1
Bi-Color: Mauve and silver                              1
Bi-Color: Pink and tan                                  1
Multi-Color: Pink, red, and cream                       1
Bi-Color: Mauve and purple                              1
Multi-Color: Yellow, white, and pink                    1
Multi-Color: Orange, yellow, red, pink                  1
Bi-Color: yellow and red                                1
Bi-Color: mauve and white                               1
Bi-Color: White and purple                              1
Bi-Color: Coral orange and yellow                       1
Other: Gray and tan blend                               1
Multi-Color: Red, coral-pink, and white                 1
Bi-Color: White and maroon                              1
Multi-Color: Red, pink, and white                       1
Bi-Color: Orange and cream                              1
Multi-Color: White, pink, and orange                    1
Bi-Color: Coral-pink and cream                          1
Multi-Color: Pink, yellow, and red                      1
Bi-Color: White and coral-pink                          1
Bi-Color: white and pink                                1
Multi-Color: Yellow, tan, and lavender                  1
Multi-Color: Pink, mauve, and tan                       1
Bi-Color: coral-orange and yellow                       1
Bi-Color: pink and white                                1
Bi-Color: Yellow and apricot                            1
Multi-Color: Pink, mauve, and cream                     1
Bi-Color: white and yellow                              1
Bi-Color: Red and gold                                  1
Bi-Color: Violet and red                                1
Bi-Color: Red and silver-white                          1
Bi-Color: Red and yellow\nOther                         1
Other: salmon-pink                                      1
Multi-Color: Pink, white, and red                       1
Bi-Color: Lilac and silver                              1
Bi-Color: White and coral-orange                        1
Bi-Color: Cream and yellow                              1
Multi-Color: Pink, cream, and red                       1
Bi-Color: Yellow and russet                             1
Bi-Color: Orange and purple                             1
Bi-Color: Red and Yellow                                1
Bi-Color: cream and pink                                1
Other: orange-pink                                      1
Bi-Color: White and deep pink                           1
Bi-Color: Red and russet                                1
Multi-Color: Red, yellow, and silver                    1
Bi-Color: Red and dark gray                             1
Bi-Color: Red and apricot                               1
Multi-Color: Peach, orange, and magenta                 1
Multi-Color: Yellow, red, and apricot                   1
Multi-Color: Pink, purple, and white                    1
Bi-Color: Red and copper                                1
Bi-Color: Red and lavender                              1
Bi-Color: Yellow and coral                              1
Bi-Color: Peach and red                                 1
Multi-Color: pink, white, and cream                     1
Other: Russet-tan and lavender                          1
Bi-Color: Yellow and pink\nMulti-Color                  1
Multi-Color: White, red, and pink                       1
Bi-Color: Yellow and mauve                              1
Multi-Color: Cream, pink, and yellow                    1
Pink\nOther: Coral-pink                                 1
Yellow\nOther: Cream                                    1
Bi-Color: Cream and salmon                              1
Bi-Color: Lavender and tan                              1
Multi-Color: Lavender, magenta, apricot, and pink       1
Bi-Color: Orange-pink and yellow                        1
White\nOther: Cream                                     1
Multi-Color: Pink, white, yellow, and apricot           1
Bi-Color: Coral-orange and cream                        1
Multi-Color: red and white                              1
Multi-Color: Red, purple, and white                     1
Multi-Color: Red, pink, and yellow                      1
Bi-Color: Lavender and yellow                           1
Multi-Color: Yellow, pink, and white                    1
Bi-Color: Mauve and yellow                              1
Bi-Color: Russet and mauve                              1
Bi-Color: Pink and coral-orange                         1
Orange\nOther: Salmon-orange                            1
Name: Flower Color, dtype: int64

In [12]:
df['Uses'].value_counts()

Cut Flower                                                         6538
Windbreak or Hedge\nCut Flower                                      192
Groundcover\nCut Flower                                             141
Windbreak or Hedge\nMedicinal Herb\nCut Flower\nWill Naturalize       1
Windbreak or Hedge\nErosion control\nMedicinal Herb\nCut Flower       1
Cut Flower\nDried Flower                                              1
Cut Flower\nWill Naturalize                                           1
Medicinal Herb\nCut Flower                                            1
Medicinal Herb\nCut Flower\nWill Naturalize                           1
Groundcover\nCut Flower\nDried Flower                                 1
Name: Uses, dtype: int64

In [13]:
df['Wildlife Attractant'].value_counts()

Bees                                      6728
Bees\nButterflies                          145
Bees\nBirds\nButterflies                     3
Bees\nBirds\nButterflies\nHummingbirds       1
Bees\nOther Beneficial Insects               1
Name: Wildlife Attractant, dtype: int64

In [14]:
df['Flowers'].value_counts()

Showy\nFragrant                        5571
Showy                                  1303
Showy\nMalodorous                         3
Showy\nFragrant\nBlooms on old wood       1
Showy\nFragrant\nBlooms on new wood       1
Name: Flowers, dtype: int64

In [15]:
df['Plant Habit'].value_counts()

Shrub    6879
Name: Plant Habit, dtype: int64

In [16]:
df['Life cycle'].value_counts()

Perennial    6879
Name: Life cycle, dtype: int64

In [17]:
df['Sun Requirements'].value_counts()

Full Sun                                                         6738
Full Sun\nFull Sun to Partial Shade                               139
Full Sun\nFull Sun to Partial Shade\nPartial or Dappled Shade       1
Full Sun to Partial Shade                                           1
Name: Sun Requirements, dtype: int64

In [19]:
df['Rebloom'].value_counts()

Good         5291
Some          562
None          529
Excellent     135
Name: Rebloom, dtype: int64

In [18]:
df['Class'].value_counts()

Hybrid tea                                                                                                         1430
Floribunda                                                                                                         1230
Shrub                                                                                                               949
Miniature                                                                                                           508
Large-flowered climber                                                                                              213
Grandiflora                                                                                                         151
Gallica                                                                                                             119
Hybrid perpetual                                                                                                    108
Polyantha                                                                                                           105
Moss                                                                                                                 94
Bourbon                                                                                                              89
Tea                                                                                                                  86
Hybrid tea\nOther: Florists rose                                                                                     75
Hybrid musk                                                                                                          75
Other: Climbing hybrid tea                                                                                           74
Noisette                                                                                                             74
China                                                                                                                66
Other: Hybrid rugosa                                                                                                 66
Other: Hybrid wichurana                                                                                              65
Hybrid tea\nOther: Pernetiana                                                                                        61
Miniature\nOther: Mini-Flora                                                                                         54
Hybrid multiflora                                                                                                    49
Other: Climbing floribunda                                                                                           45
Other: Species, wild                                                                                                 40
Centifolia                                                                                                           37
Other: Mini-flora                                                                                                    31
Alba                                                                                                                 29
Other: Mini-Flora                                                                                                    27
Other: Climbing miniature                                                                                            24
Other: Hybrid Kordesii                                                                                               23
Other: Hybrid spinosissima                                                                                           22
Other: Damask                                                                                                        21
Shrub\nOther: Generosa                                                                                               19
Miniature\nOther: Climbing miniature                                                                                 18
Other: Hybrid hulthemia persica                                                                                      17
Hybrid tea\nOther: Romantica                                                                                         16
Miniature\nOther: Mini-flora                                                                                         16
Tea\nOther: Found rose                                                                                               14
Other: Hybrid bracteata                                                                                              14
Noisette\nOther: Found rose                                                                                          14
Other: Rambler                                                                                                       13
Floribunda\nOther: Florists rose                                                                                     13
Other: Hybrid kordesii                                                                                               12
Other: Hybrid rubiginosa                                                                                             11
Other: Portland                                                                                                       9
Shrub\nOther: Found rose                                                                                              9
Other: Hybrid setigera                                                                                                9
Other: Species                                                                                                        9
Other: Hybrid gigantea                                                                                                8
Other: Hybrid China                                                                                                   8
Other: Climbing polyantha                                                                                             8
Large-flowered climber\nOther: Romantica                                                                              8
China\nOther: Found rose                                                                                              8
Other: Hybrid Moyesii                                                                                                 7
Bourbon\nOther: Found rose                                                                                            6
Floribunda\nOther: Romantica                                                                                          6
Other: Climbing tea                                                                                                   6
Other: Hybrid Wichurana                                                                                               6
Other: Species cross                                                                                                  6
Other: Climbing Bourbon                                                                                               6
Other: Miniature moss                                                                                                 5
Miniature\nOther: Micro-mini                                                                                          5
Other: Hybrid hulthemia                                                                                               4
Other: Hybrid Rugosa                                                                                                  4
Polyantha\nOther: Found rose                                                                                          4
Other: Hybrid sempervirens                                                                                            4
Floribunda\nOther: Found rose                                                                                         4
Gallica\nOther: Found rose                                                                                            4
Hybrid tea\nOther: Found rose                                                                                         4
Other: Hybrid macrantha                                                                                               4
Other: climbing hybrid tea                                                                                            3
Other: Climbing hybrid tea, Pernetiana                                                                                3
Other: Damask Perpetual, Portland                                                                                     3
Other: Lambertiana                                                                                                    3
Other: Hybrid foetida                                                                                                 3
Other: Hybrid laevigata                                                                                               3
Grandiflora\nOther: Florists rose                                                                                     3
Other: Found rose                                                                                                     3
Other: Hybrid moschata                                                                                                3
Other: Damask perpetual                                                                                               3
Other: Species/Wild                                                                                                   3
China\nOther: Hybrid China                                                                                            2
Other: Hybrid wichurana; found rose                                                                                   2
Other: Hybrid soulieana                                                                                               2
Hybrid perpetual\nOther: Found rose                                                                                   2
Tea\nOther: Climbing tea                                                                                              2
Other: Rambler; found rose                                                                                            2
Moss\nOther: Miniature moss                                                                                           2
Shrub\nOther: Species cross                                                                                           2
Other: Hybrid eglanteria                                                                                              2
Other: Hybrid China; found rose                                                                                       2
Other: Ayreshire                                                                                                      2
Polyantha\nOther: Climbing polyantha                                                                                  2
Hybrid musk\nOther: Found rose                                                                                        2
Miniature\nOther: Hybrid hulthemia persica                                                                            2
Other: Ayrshire                                                                                                       2
Other: Hybrid lutea; Pernetiana                                                                                       2
Other: Hybrid Rubiginosa                                                                                              2
Other: Damask Perpetual/Portland                                                                                      2
Shrub\nOther: Florists rose                                                                                           2
Other: Boursault                                                                                                      2
Other: Climbing hybrid tea; Pernetiana                                                                                2
Miniature\nOther: Mini-flora; florists rose                                                                           2
Other: Hybrid Bracteata                                                                                               2
Miniature\nOther: Found rose                                                                                          2
Other: Climbing China                                                                                                 2
Other: Bermuda; found rose                                                                                            2
Other: Hybrid moyesii                                                                                                 2
Miniature\nOther: Miniature moss                                                                                      2
Hybrid perpetual\nOther: Pernetiana                                                                                   1
Large-flowered climber\nOther: Found rose                                                                             1
Other: Hybrid setigera, found rose                                                                                    1
Other: Hybrid Eglanteria                                                                                              1
Other: Hybrid spinosissima; species cross                                                                             1
Other: Rugosa, species                                                                                                1
Shrub\nOther: Rambler                                                                                                 1
Other: Hybrid rugosa; found rose                                                                                      1
Bourbon\nOther: Species cross                                                                                         1
Other: Portland; found rose                                                                                           1
Hybrid perpetual\nOther: Damask Perpetual, Portland                                                                   1
Other: Hybrid Spinosissima                                                                                            1
Other: Hybrid macrophylla                                                                                             1
Other: Hybrid Hugonis                                                                                                 1
Grandiflora\nOther: Found rose                                                                                        1
China\nOther: Bermuda; found rose                                                                                     1
Hybrid multiflora\nOther: Lambertiana                                                                                 1
Other: Damask perpetual, found rose                                                                                   1
Other: Miscellaneous climber                                                                                          1
Other: Hybrid Gigantea                                                                                                1
Centifolia\nOther: Found rose                                                                                         1
Other: Climbing Tea                                                                                                   1
Moss\nOther: Found rose                                                                                               1
Hybrid tea\nOther: Hybrid foetida, Pernetiana                                                                         1
Other: Species; wild                                                                                                  1
Hybrid perpetual\nOther: Climbing hybrid perpetual                                                                    1
Large-flowered climber\nOther: Registered as climbing hybrid tea, but later reclassified as climbing floribunda       1
Other: Climbing tea, found rose                                                                                       1
Other: Ayrshire; found rose                                                                                           1
Other: Climbing hybrid musk, Lambertiana                                                                              1
Other: Climbing grandiflora                                                                                           1
Other: Hybrid bourbon                                                                                                 1
Shrub\nOther: Lambertiana                                                                                             1
Hybrid tea\nOther: Climbing hybrid tea; Pernetiana                                                                    1
Miniature\nOther: Mini-Flora, florists rose                                                                           1
Other: Hybrid Sempervirens                                                                                            1
Other: Hybrid Macrophylla                                                                                             1
Other: Hybrid nutkana                                                                                                 1
Other: Hybrid bourbon; found rose                                                                                     1
Other: Climbing hybrid china                                                                                          1
Hybrid musk\nOther: Ayrshire                                                                                          1
Other: Miniature polyantha                                                                                            1
Other: Hybrid Lutea, Rambler                                                                                          1
Other: Damask Perpetual; Portland                                                                                     1
Other: Hybrid spinosissima, found rose                                                                                1
Other: Undefined climber                                                                                              1
Other: Hybrid multibracteata                                                                                          1
Other: Florists rose                                                                                                  1
Other: Ayrshire, found rose                                                                                           1
Other: Hybrid banksia                                                                                                 1
China\nOther: Species cross                                                                                           1
Other: Hybrid banksia, found rose                                                                                     1
Other: Climbing china                                                                                                 1
Shrub\nOther: Species/Wild                                                                                            1
Other: Hybrid Lutea                                                                                                   1
Alba\nOther: Species, wild                                                                                            1
Other: species                                                                                                        1

In [20]:
df['Bloom size'].value_counts()

Medium: 2-3              2965
Large: 4-5               2538
Small: under 2            899
Very large: 6 or more     136
Name: Bloom size, dtype: int64

In [21]:
df['Bloom shape'].value_counts()

High-centered                                1668
Cupped                                        847
Flat                                          343
Globular                                      209
Other: Rosette                                148
Other: Cupped to flat                         125
Other: Saucer-shaped                          114
Other: Quartered                               90
Other: Lightly cupped                          66
Other: Button eye                              54
Other: Lax petals                              48
Other: Pompon                                  25
Other: Dahlia-like arrangement of petals       23
Other: Reflexed petals                         16
Cupped\nOther: Quartered                       14
Other: Quartered, with button eye               8
Other: Ruffled petals                           7
High-centered\nOther: Reflexed petals           3
Other: Rosette, button eye                      3
Other: Scalloped petals                         3
Cupped\nOther: Button eye                       3
Other: Urn-shaped                               2
Other: Reflexed petals, button eye              2
Globular\nOther: Lax petals                     2
Globular\nOther: Quartered                      2
Cupped\nFlat                                    2
Other: Star-shaped                              2
Cupped\nOther: Spiral centers                   1
Other: Button eye; ruffled petals               1
Other: Bowl-shaped                              1
Other: Peony-like bloom                         1
Other: Scalloped                                1
Other: Cupped to saucer-shaped                  1
Cupped\nOther: quartered                        1
Other: Semi-globular                            1
Other: Resemble Clematis blooms                 1
Other: Pinked petals                            1
Flat\nOther: Quartered                          1
Other: Quartered, button eye                    1
Other: Spiral, quilled petals                   1
Cupped\nOther: Reflexed petals                  1
Flat\nOther: Ruffled petals                     1
Other                                           1
Other: Cupped to flat; button eye               1
Other: Rosette, Button-Eye                      1
Other: Ruffled and scalloped petals             1
Flat\nOther: Star-shaped                        1
Cupped\nOther: Ruffled                          1
Flat\nOther: Ruffled and scalloped petals       1
Other: Rosette, button eye, quartered           1
Other: Cupped to flat, button eye               1
Globular\nOther: Button eye                     1
Other: Peony form                               1
Other: bowl-shaped                              1
Globular\nOther: Reflexed petals                1
Other: Cupped to flat, quartered                1
Name: Bloom shape, dtype: int64

In [22]:
df['Petal count'].value_counts()

full: 26-40 petals                                3299
double: 16-25 petals                              1276
very full: 40+ petals                              945
semi-double: 8-15 petals                           578
Single: 1-7 petals                                 428
very full: 40+ petals\nOther: Button eye             1
full: 26-40 petals\nOther: Ruffled petals            1
semi-double: 8-15 petals\ndouble: 16-25 petals       1
very full: 40+ petals\nOther: Up to 170 petals       1
very full: 40+ petals\nOther: 70-80 petals           1
Name: Petal count, dtype: int64

In [23]:
df['Fragrance'].value_counts()

Mild          2443
Strong        1940
Moderate      1352
None           407
None\nMild       1
Name: Fragrance, dtype: int64

In [25]:
df['Optimal growing zones'].value_counts()

USDA zone 6 and warmer     1175
USDA zone 5 and warmer      879
USDA zone 7 and warmer      576
USDA zone 4 and warmer      315
USDA zones 4-8              111
USDA zones 4-9               93
USDA zone 3 and warmer       67
USDA zone 6b and warmer      49
Zone 6b and warmer           40
USDA zone 2 and warmer       36
USDA zones 5-9               32
USDA zones 3-9               25
Zone 5b and warmer           24
USDA zones 4 through 8       20
USDA zones 4 through 9       15
USDA zone 5b and warmer      15
USDA zones 2-8               13
USDA zone 7b and warmer      11
Zone 7b and warmer            8
USDA Zones 6 and warmer       8
Zone 4b and warmer            6
USDA zone 2b and warmer       4
USDA zones 3-8                3
USDA zones 2-9                3
Zone 5 and warmer             3
USDA zones 3-7                2
USDA Zones 5 and warmer       2
USDA zone 3b and warmer       2
USDA zone 4b and warmer       2
USDA zones 3 through 8        2
USDA zones 3 through 9        2
USDA zones 5b-9b              1
5b through 10b                1
USDA zone 9 and warmer        1
5b through 9b                 1
USDA zone 5-9                 1
USDA zones 7-9                1
USDA zone 6a and warmer       1
USDA zones 2-5                1
Usda Zones 3-8                1
USDA zones 5-10               1
USDA zone 6 and warmerl       1
Zone 6 and warmer             1
USDA zones 7 and warmer       1
USDA Zones 3-8                1
USDA zone 7  and warmer       1
Zones 4 and warmer            1
Name: Optimal growing zones, dtype: int64

In [26]:
df['Flower Time'].value_counts()

Spring\nSummer\nFall                                            5301
Late spring or early summer                                      528
Late spring or early summer\nLate summer or early fall           516
Spring\nSummer                                                     2
Late spring or early summer\nLate summer or early fall\nFall       1
Late summer or early fall\nOther: Early Summer to frost            1
Summer                                                             1
Spring\nLate spring or early summer\nSummer                        1
Spring\nFall                                                       1
Late spring or early summer\nOther: Early Summer to frost          1
Late spring or early summer\nOther: early Summer to frost          1
Spring\nSummer\nFall\nOther: Spring to frost                       1
Name: Flower Time, dtype: int64

### Changes needed to the data to make nice visuals. 

1.) Column ['Hybridizer & year'] contains two distinct bits of information. We want year to be an idependent column.

2.) Column ['Wildlife Attractant'] needs removal of \n. This is also not a very informative data. Mostly roses atract Bees plus other nectar loving incects. 

3.) Column ['Flowers'] needs removal of \n.

4.) Lol. What the point of columns (['Plant Habit'] if it is always populated with Shrub), ['Life cycle'] if it is always populated with Perennial :(

5.) Column ['Sun Requirements'] needs removal of \n.

6.) Column ['Class'] needs removal of \n. Interesting data. 

7.) Column ['Bloom shape'] needs removal of \n, may need extra cleaning. Interesting data. 

8.) Column ['Petal count'] needs removal of \n and other, needs standartizing. We have lots of unique enties that are of no use in this analysis. Interesting data. 

9.) Column ['Flower Time'] needs removal of \n.

10.) Column ['Uses'] needs removal of \n.

In [47]:
# extracting year from column ['Hybridizer & year']

df['YEAR'] = df['Hybridizer & year'].str.extract('(\\d{4})', expand=False).str.strip()

df[['YEAR', 'Hybridizer & year']]

      YEAR                Hybridizer & year
0     1982                   Harkness, 1982
1     2003                 O.L. Weeks, 2003
2     2003  Discovered by Cliff Orent, 2003
3     2000         Tim Hermann Kordes, 2000
4      NaN                          Unknown
...    ...                              ...
7067  2004               Gareth Fryer, 2004
7068  1918              Alister Clark, 1918
7069  1930     Wilhelm J.H. Kordes II, 1930
7070  1983              Reimer Kordes, 1983
7071  1962            Robert G. Jelly, 1962

[7072 rows x 2 columns]

In [50]:
# extracting Hybridizer from column ['Hybridizer & year']

df['Hybridizer'] = df['Hybridizer & year'].str.extract('([A-Z].+)', expand=False).str.strip()


df['Hybridizer'] = df['Hybridizer'].str.replace('\d+', '')

df['Hybridizer'] = df['Hybridizer'].str.replace(',', '')


df[['YEAR', 'Hybridizer', 'Hybridizer & year']]

      YEAR                  Hybridizer                Hybridizer & year
0     1982                   Harkness                    Harkness, 1982
1     2003                 O.L. Weeks                  O.L. Weeks, 2003
2     2003  Discovered by Cliff Orent   Discovered by Cliff Orent, 2003
3     2000         Tim Hermann Kordes          Tim Hermann Kordes, 2000
4      NaN                     Unknown                          Unknown
...    ...                         ...                              ...
7067  2004               Gareth Fryer                Gareth Fryer, 2004
7068  1918              Alister Clark               Alister Clark, 1918
7069  1930     Wilhelm J.H. Kordes II      Wilhelm J.H. Kordes II, 1930
7070  1983              Reimer Kordes               Reimer Kordes, 1983
7071  1962            Robert G. Jelly             Robert G. Jelly, 1962

[7072 rows x 3 columns]

In [51]:
# 2.) Column ['Wildlife Attractant'] needs removal of \n.

df['Wildlife Attractant'] = df['Wildlife Attractant'].str.replace('\n', ', ')


df['Wildlife Attractant'].value_counts()

Bees                                      6728
Bees, Butterflies                          145
Bees, Birds, Butterflies                     3
Bees, Birds, Butterflies, Hummingbirds       1
Bees, Other Beneficial Insects               1
Name: Wildlife Attractant, dtype: int64

In [52]:
# 3.) Column ['Flowers'] needs removal of \n.

df['Flowers'] = df['Flowers'].str.replace('\n', ', ')


df['Flowers'].value_counts()

Showy, Fragrant                        5571
Showy                                  1303
Showy, Malodorous                         3
Showy, Fragrant, Blooms on old wood       1
Showy, Fragrant, Blooms on new wood       1
Name: Flowers, dtype: int64

In [53]:
# 5.) Column ['Sun Requirements'] needs removal of \n.

df['Sun Requirements'] = df['Sun Requirements'].str.replace('\n', ', ')


df['Sun Requirements'].value_counts()

Full Sun                                                         6738
Full Sun, Full Sun to Partial Shade                               139
Full Sun to Partial Shade                                           1
Full Sun, Full Sun to Partial Shade, Partial or Dappled Shade       1
Name: Sun Requirements, dtype: int64

In [54]:
# 6.) Column ['Class'] needs removal of \n.

df['Class'] = df['Class'].str.replace('\n', ', ')


df['Class'].value_counts()

Hybrid tea                                                                                                         1430
Floribunda                                                                                                         1230
Shrub                                                                                                               949
Miniature                                                                                                           508
Large-flowered climber                                                                                              213
Grandiflora                                                                                                         151
Gallica                                                                                                             119
Hybrid perpetual                                                                                                    108
Polyantha                                                                                                           105
Moss                                                                                                                 94
Bourbon                                                                                                              89
Tea                                                                                                                  86
Hybrid musk                                                                                                          75
Hybrid tea, Other: Florists rose                                                                                     75
Noisette                                                                                                             74
Other: Climbing hybrid tea                                                                                           74
Other: Hybrid rugosa                                                                                                 66
China                                                                                                                66
Other: Hybrid wichurana                                                                                              65
Hybrid tea, Other: Pernetiana                                                                                        61
Miniature, Other: Mini-Flora                                                                                         54
Hybrid multiflora                                                                                                    49
Other: Climbing floribunda                                                                                           45
Other: Species, wild                                                                                                 40
Centifolia                                                                                                           37
Other: Mini-flora                                                                                                    31
Alba                                                                                                                 29
Other: Mini-Flora                                                                                                    27
Other: Climbing miniature                                                                                            24
Other: Hybrid Kordesii                                                                                               23
Other: Hybrid spinosissima                                                                                           22
Other: Damask                                                                                                        21
Shrub, Other: Generosa                                                                                               19
Miniature, Other: Climbing miniature                                                                                 18
Other: Hybrid hulthemia persica                                                                                      17
Hybrid tea, Other: Romantica                                                                                         16
Miniature, Other: Mini-flora                                                                                         16
Noisette, Other: Found rose                                                                                          14
Tea, Other: Found rose                                                                                               14
Other: Hybrid bracteata                                                                                              14
Other: Rambler                                                                                                       13
Floribunda, Other: Florists rose                                                                                     13
Other: Hybrid kordesii                                                                                               12
Other: Hybrid rubiginosa                                                                                             11
Shrub, Other: Found rose                                                                                              9
Other: Species                                                                                                        9
Other: Portland                                                                                                       9
Other: Hybrid setigera                                                                                                9
Other: Climbing polyantha                                                                                             8
Other: Hybrid China                                                                                                   8
China, Other: Found rose                                                                                              8
Large-flowered climber, Other: Romantica                                                                              8
Other: Hybrid gigantea                                                                                                8
Other: Hybrid Moyesii                                                                                                 7
Other: Climbing Bourbon                                                                                               6
Other: Climbing tea                                                                                                   6
Other: Species cross                                                                                                  6
Bourbon, Other: Found rose                                                                                            6
Floribunda, Other: Romantica                                                                                          6
Other: Hybrid Wichurana                                                                                               6
Other: Miniature moss                                                                                                 5
Miniature, Other: Micro-mini                                                                                          5
Other: Hybrid macrantha                                                                                               4
Other: Hybrid sempervirens                                                                                            4
Gallica, Other: Found rose                                                                                            4
Floribunda, Other: Found rose                                                                                         4
Hybrid tea, Other: Found rose                                                                                         4
Polyantha, Other: Found rose                                                                                          4
Other: Hybrid Rugosa                                                                                                  4
Other: Hybrid hulthemia                                                                                               4
Other: Damask perpetual                                                                                               3
Other: climbing hybrid tea                                                                                            3
Other: Damask Perpetual, Portland                                                                                     3
Other: Climbing hybrid tea, Pernetiana                                                                                3
Other: Hybrid foetida                                                                                                 3
Other: Lambertiana                                                                                                    3
Other: Hybrid laevigata                                                                                               3
Other: Found rose                                                                                                     3
Other: Hybrid moschata                                                                                                3
Grandiflora, Other: Florists rose                                                                                     3
Other: Species/Wild                                                                                                   3
Other: Hybrid soulieana                                                                                               2
Other: Hybrid wichurana; found rose                                                                                   2
Other: Rambler; found rose                                                                                            2
Other: Hybrid eglanteria                                                                                              2
Other: Hybrid China; found rose                                                                                       2
Polyantha, Other: Climbing polyantha                                                                                  2
Other: Ayreshire                                                                                                      2
Other: Climbing China                                                                                                 2
Other: Hybrid moyesii                                                                                                 2
Other: Bermuda; found rose                                                                                            2
Shrub, Other: Species cross                                                                                           2
Other: Hybrid Bracteata                                                                                               2
Other: Climbing hybrid tea; Pernetiana                                                                                2
Hybrid perpetual, Other: Found rose                                                                                   2
Miniature, Other: Found rose                                                                                          2
Other: Ayrshire                                                                                                       2
Miniature, Other: Mini-flora; florists rose                                                                           2
Other: Damask Perpetual/Portland                                                                                      2
Other: Boursault                                                                                                      2
Miniature, Other: Hybrid hulthemia persica                                                                            2
Shrub, Other: Florists rose                                                                                           2
Miniature, Other: Miniature moss                                                                                      2
Moss, Other: Miniature moss                                                                                           2
Other: Hybrid Rubiginosa                                                                                              2
Tea, Other: Climbing tea                                                                                              2
Other: Hybrid lutea; Pernetiana                                                                                       2
China, Other: Hybrid China                                                                                            2
Hybrid musk, Other: Found rose                                                                                        2
Large-flowered climber, Other: Found rose                                                                             1
Other: Hybrid setigera, found rose                                                                                    1
Hybrid tea, Other: Climbing hybrid tea; Pernetiana                                                                    1
Other: Hybrid spinosissima; species cross                                                                             1
Other: Hybrid Hugonis                                                                                                 1
Other: Hybrid macrophylla                                                                                             1
Hybrid musk, Other: Ayrshire                                                                                          1
Other: Hybrid Spinosissima                                                                                            1
Alba, Other: Species, wild                                                                                            1
Hybrid musk, Other: Florists rose                                                                                     1
Other: Hybrid rugosa; found rose                                                                                      1
Grandiflora, Other: Found rose                                                                                        1
Bourbon, Other: Species cross                                                                                         1
Other: Rugosa, species                                                                                                1
Other: Hybrid Eglanteria                                                                                              1
Other: Climbing hybrid musk, Lambertiana                                                                              1
Shrub, Other: Lambertiana                                                                                             1
Other: Hybrid bourbon                                                                                                 1
Miniature, Other: Mini-Flora, florists rose                                                                           1
Other: Damask perpetual, found rose                                                                                   1
Other: Miscellaneous climber                                                                                          1
Other: Hybrid Gigantea                                                                                                1
Other: Climbing Tea                                                                                                   1
China, Other: Species cross                                                                                           1
Hybrid musk, Other: Lambertiana                                                                                       1
Other: Species; wild                                                                                                  1
Hybrid tea, Other: Hybrid foetida, Pernetiana                                                                         1
Hybrid perpetual, Other: Climbing hybrid perpetual                                                                    1
Other: Climbing tea, found rose                                                                                       1
Other: Ayrshire; found rose                                                                                           1
Miniature, Other: Florists rose                                                                                       1
Other: Hybrid banksia                                                                                                 1
Other: Climbing grandiflora                                                                                           1
Other: Portland; found rose                                                                                           1
Other: Undefined climber                                                                                              1
Other: Ayrshire, found rose                                                                                           1
Other: Damask Perpetual; Portland                                                                                     1
Other: Climbing china                                                                                                 1
Other: Hybrid nutkana                                                                                                 1
Hybrid perpetual, Other: Pernetiana                                                                                   1
Other: Hybrid Sempervirens                                                                                            1
Other: Miniature polyantha                                                                                            1
Other: Hybrid Macrophylla                                                                                             1
Other: Hybrid bourbon; found rose                                                                                     1
Large-flowered climber, Other: Registered as climbing hybrid tea, but later reclassified as climbing floribunda       1
Hybrid perpetual, Other: Damask Perpetual, Portland                                                                   1
Other: Climbing hybrid china                                                                                          1
China, Other: Bermuda; found rose                                                                                     1
Other: Hybrid Lutea, Rambler                                                                                          1
Other: Hybrid multibracteata                                                                                          1
Gallica, Other: Wild, species cross                                                                                   1
Other: Florists rose                                                                                                  1
Other: Hybrid banksia, found rose                                                                                     1
Other: Hybrid Lutea                                                                                                   1
Centifolia, Other: Found rose                                                                                         1
Moss, Other: Found rose                                                                                               1
Shrub, Other: Species/Wild                                                                                            1

In [55]:
# 9.) Column ['Flower Time'] needs removal of \n.

df['Flower Time'] = df['Flower Time'].str.replace('\n', ', ')


df['Flower Time'].value_counts()

Spring, Summer, Fall                                            5301
Late spring or early summer                                      528
Late spring or early summer, Late summer or early fall           516
Spring, Summer                                                     2
Summer                                                             1
Spring, Late spring or early summer, Summer                        1
Spring, Summer, Fall, Other: Spring to frost                       1
Late summer or early fall, Other: Early Summer to frost            1
Late spring or early summer, Late summer or early fall, Fall       1
Late spring or early summer, Other: Early Summer to frost          1
Late spring or early summer, Other: early Summer to frost          1
Spring, Fall                                                       1
Name: Flower Time, dtype: int64

In [58]:
# removing "Other: '

df['Flower Time'] = df['Flower Time'].str.replace('Other: ', ' ')


df['Flower Time'].value_counts()

Spring, Summer, Fall                                            5301
Late spring or early summer                                      528
Late spring or early summer, Late summer or early fall           516
Spring, Summer                                                     2
Late summer or early fall,  Early Summer to frost                  1
Summer                                                             1
Spring, Late spring or early summer, Summer                        1
Late spring or early summer, Late summer or early fall, Fall       1
Late spring or early summer,  early Summer to frost                1
Spring, Fall                                                       1
Spring, Summer, Fall,  Spring to frost                             1
Late spring or early summer,  Early Summer to frost                1
Name: Flower Time, dtype: int64

In [57]:
# 10.) Column ['Uses needs'] removal of \n.

df['Uses'] = df['Uses'].str.replace('\n', ', ')


df['Uses'].value_counts()

Cut Flower                                                         6538
Windbreak or Hedge, Cut Flower                                      192
Groundcover, Cut Flower                                             141
Cut Flower, Dried Flower                                              1
Cut Flower, Will Naturalize                                           1
Medicinal Herb, Cut Flower, Will Naturalize                           1
Medicinal Herb, Cut Flower                                            1
Groundcover, Cut Flower, Dried Flower                                 1
Windbreak or Hedge, Medicinal Herb, Cut Flower, Will Naturalize       1
Windbreak or Hedge, Erosion control, Medicinal Herb, Cut Flower       1
Name: Uses, dtype: int64

In [60]:
# ['Petal count'] before clean up

df['Petal count'].value_counts()

full: 26-40 petals                                3299
double: 16-25 petals                              1276
very full: 40+ petals                              945
semi-double: 8-15 petals                           578
Single: 1-7 petals                                 428
very full: 40+ petals\nOther: Button eye             1
full: 26-40 petals\nOther: Ruffled petals            1
semi-double: 8-15 petals\ndouble: 16-25 petals       1
very full: 40+ petals\nOther: Up to 170 petals       1
very full: 40+ petals\nOther: 70-80 petals           1
Name: Petal count, dtype: int64

In [61]:
# ['Petal count'] clean up

df['Petal count'] = df['Petal count'].str.replace('\nOther: Button eye', '')
df['Petal count'] = df['Petal count'].str.replace('\nOther: Ruffled petals', '')
df['Petal count'] = df['Petal count'].str.replace('\ndouble: 16-25 petals', '')
df['Petal count'] = df['Petal count'].str.replace('\nOther: Up to 170 petals', '')
df['Petal count'] = df['Petal count'].str.replace('\nOther: 70-80 petals', '')


df['Petal count'].value_counts()

full: 26-40 petals          3300
double: 16-25 petals        1276
very full: 40+ petals        948
semi-double: 8-15 petals     579
Single: 1-7 petals           428
Name: Petal count, dtype: int64

In [62]:
df['Bloom shape'].value_counts()

High-centered                                1668
Cupped                                        847
Flat                                          343
Globular                                      209
Other: Rosette                                148
Other: Cupped to flat                         125
Other: Saucer-shaped                          114
Other: Quartered                               90
Other: Lightly cupped                          66
Other: Button eye                              54
Other: Lax petals                              48
Other: Pompon                                  25
Other: Dahlia-like arrangement of petals       23
Other: Reflexed petals                         16
Cupped\nOther: Quartered                       14
Other: Quartered, with button eye               8
Other: Ruffled petals                           7
High-centered\nOther: Reflexed petals           3
Other: Rosette, button eye                      3
Other: Scalloped petals                         3
Cupped\nOther: Button eye                       3
Other: Urn-shaped                               2
Other: Reflexed petals, button eye              2
Globular\nOther: Lax petals                     2
Globular\nOther: Quartered                      2
Cupped\nFlat                                    2
Other: Star-shaped                              2
Cupped\nOther: Spiral centers                   1
Other: Button eye; ruffled petals               1
Other: Bowl-shaped                              1
Other: Peony-like bloom                         1
Other: Scalloped                                1
Other: Cupped to saucer-shaped                  1
Cupped\nOther: quartered                        1
Other: Semi-globular                            1
Other: Resemble Clematis blooms                 1
Other: Pinked petals                            1
Flat\nOther: Quartered                          1
Other: Quartered, button eye                    1
Other: Spiral, quilled petals                   1
Cupped\nOther: Reflexed petals                  1
Flat\nOther: Ruffled petals                     1
Other                                           1
Other: Cupped to flat; button eye               1
Other: Rosette, Button-Eye                      1
Other: Ruffled and scalloped petals             1
Flat\nOther: Star-shaped                        1
Cupped\nOther: Ruffled                          1
Flat\nOther: Ruffled and scalloped petals       1
Other: Rosette, button eye, quartered           1
Other: Cupped to flat, button eye               1
Globular\nOther: Button eye                     1
Other: Peony form                               1
Other: bowl-shaped                              1
Globular\nOther: Reflexed petals                1
Other: Cupped to flat, quartered                1
Name: Bloom shape, dtype: int64

In [64]:
df['Bloom shape'] = df['Bloom shape'].str.replace('\nOther:', ', ')

df['Bloom shape'] = df['Bloom shape'].str.replace('Other: ', '')

df['Bloom shape'] = df['Bloom shape'].str.replace('\n', ', ')


df['Bloom shape'].value_counts()

High-centered                          1668
Cupped                                  847
Flat                                    343
Globular                                209
Rosette                                 148
Cupped to flat                          125
Saucer-shaped                           114
Quartered                                90
Lightly cupped                           66
Button eye                               54
Lax petals                               48
Pompon                                   25
Dahlia-like arrangement of petals        23
Reflexed petals                          16
Cupped,  Quartered                       14
Quartered, with button eye                8
Ruffled petals                            7
High-centered,  Reflexed petals           3
Cupped,  Button eye                       3
Scalloped petals                          3
Rosette, button eye                       3
Globular,  Lax petals                     2
Reflexed petals, button eye               2
Cupped, Flat                              2
Star-shaped                               2
Globular,  Quartered                      2
Urn-shaped                                2
Cupped,  Spiral centers                   1
Flat,  Ruffled and scalloped petals       1
Pinked petals                             1
Bowl-shaped                               1
bowl-shaped                               1
Cupped to flat, quartered                 1
Peony form                                1
Semi-globular                             1
Peony-like bloom                          1
Globular,  Button eye                     1
Cupped to flat, button eye                1
Spiral, quilled petals                    1
Cupped,  Ruffled                          1
Globular,  Reflexed petals                1
Cupped,  Reflexed petals                  1
Flat,  Ruffled petals                     1
Flat,  Star-shaped                        1
Flat,  Quartered                          1
Cupped,  quartered                        1
Rosette, button eye, quartered            1
Other                                     1
Quartered, button eye                     1
Ruffled and scalloped petals              1
Button eye; ruffled petals                1
Scalloped                                 1
Cupped to flat; button eye                1
Resemble Clematis blooms                  1
Cupped to saucer-shaped                   1
Rosette, Button-Eye                       1
Name: Bloom shape, dtype: int64

In [ ]:
df['Flowers'] = df['Flowers'].str.replace('\n', ', ')


df['Flowers'].value_counts()

### Ideas for next steps

1.) Create visual - bubble chart over time on rose colors and year created & class and year created.